<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: head">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			<a href="/" class="titulo">
				<h1><img th:src="@{'/icons/logo_hackarthon.png'}"  width="200" height="auto"/></h1>
				<p class="tituloP"><─ VOLTAR</p>
			</a>
		<h1 class="titulo">Cadastro de cor</h1>

			<form action="salvar" method="post" class="formularioCentro">
				<div class=form-group>
					<br>
					<label>Cor</label>
					<input type="text" class="form-control" id="nomeCor" name="nomeCor" th:value="${cor.nomeCor}"/>
					<br>
					
					<input type="hidden" id="id" name="id" th:value="${cor.id}" th:if="${cor != null}">
				</div>
				<button type="submit" class="btn btn-form">Salvar</button>
			</form>

		<div th:include="footer :: copy"></div>
	</div>
	</body>
</html>