@charset "ISO-8859-1";

body{
	background: #d3d3d3;
}

.container{
	background-color: #fff;
	min-height: 700px;
}

.titulo {
	text-align: center;
	margin-bottom: 20px;
}

.tituloP{
	text-decoration: none;
    color: #286090;
    font-weight: 600;
}

.tituloP:hover{
    color: #337ab7;
}

h1 {
	color: black;
	font-size: 18pt;
}


.blocoImagem{
	position: relative;
	max-width: 50px;
  	height: 50px;  
  	overflow: hidden;
}
	
.blocoImagem img{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	width: auto;
   	-webkit-transform: translate(-50%,-50%);
     	-ms-transform: translate(-50%,-50%);
       transform: translate(-50%,-50%);
}

.tamanhoLinha{
	height: 70px;
}
table tbody tr td{
	text-align: center;
	vertical-align: middle !important;
}

table thead tr th{
	text-align: center;
	vertical-align: middle !important;
}
.formularioCentro{
	padding-left: 100px;
	padding-right: 100px;
}
.btn-form{
	width: 100%;
	background-color: #286090;
    border-color: #286090;
    color: #fff;
}
.btn-form:hover{
	width: 100%;
	background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}
.btnEditar {
	background: #286090eb;
	border-color: #286090eb;
}
.btnEditar:hover{
	background-color: #337ab7e3;
    border-color: #337ab7e3;
}

.btn-danger{
	background-color: #d43f3a !important;
	border-color: #d43f3a !important;
	color: #fff;
}

.btn-danger:hover{
	color: #fff;
    background-color: #c9302cd9 !important;
    border-color: #c9302cd9 !important;
}

.rodape{
	margin-top: 60px;
}