<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
	<div class="container">
		<h1 class='titulo'>
			<p>Admin</p>
		</h1>
		<div class="row align-items-start">
			<div class="col">
    			<a href="veiculo/cadastrar" class='btn btn-warning'>
					<h1>
						<samp th:text="${titulo1}"></samp>
					</h1>
				</a>
			</div>
			<div class="col">
			    <a href="cor/cadastrar" class='btn btn-warning'>
					<h1>
						<samp th:text="${titulo2}"></samp>
					</h1>
				</a>
			</div>
			<div class="col">
			    <a href="marca/cadastrar" class='btn btn-warning'>
					<h1>
						<samp th:text="${titulo3}"></samp>
					</h1>
				</a>
			</div>
		</div>
		
		<div class="row align-items-center">
			<div class="col">
			    <a href="veiculo/listar" class='btn btn-warning'>
					<h1>
						<samp th:text="${titulo4}"></samp>
					</h1>
				</a>
			</div>
			<div class="col">
			    <a href="marca/listar" class='btn btn-warning'>
					<h1>
						<samp th:text="${titulo5}"></samp>
					</h1>
				</a>
			</div>
			<div class="col">
			    <a href="cor/listar" class='btn btn-warning'>
					<h1>
						<samp th:text="${titulo6}"></samp>
					</h1>
				</a>
			</div>
			
		</div>
  		<div class='titulo' th:include="footer :: copy"></div>
	</div>
</body>
</html>