<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
	<div class="container">
		<a href="/">
			<h1>
				<p>Admin</p>
			</h1>
		</a> 
		<a href="veiculo/cadastrar">
			<h1>
				<samp th:text="${titulo1}"></samp>
			</h1>
		</a>
		
		</a> <a href="cor/cadastrar">
			<h1>
				<samp th:text="${titulo2}"></samp>
			</h1>
		</a>
		
		</a> <a href="marca/cadastrar">
			<h1>
				<samp th:text="${titulo3}"></samp>
			</h1>
		</a>
		
		</a> <a href="veiculo/listar">
			<h1>
				<samp th:text="${titulo4}"></samp>
			</h1>
		</a>
		
		</a> <a href="marca/listar">
			<h1>
				<samp th:text="${titulo5}"></samp>
			</h1>
		</a>
		
		</a> <a href="cor/listar">
			<h1>
				<samp th:text="${titulo6}"></samp>
			</h1>
		</a>
		
		<div th:include="footer :: copy"></div>
	</div>
</body>
</html>